@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


a:hover{
  color: #f84c3e !important;
}
.nav-item{
  margin-right: 40px;
}
.navbar{
  padding: 0%;
  letter-spacing: 1px;
  font-size: 1.15rem;
  font-weight: 700;
  background: rgb(0, 0, 0) !important;
}
.navbar-brand{
  font-family: 'Dancing Script';
  font-size: 2.5rem;
}
.navar-toggler{
  border: none;
  padding: 10px 6px;
  outline: none;
}
.navbar-toggler span{
  display: flex;
  width: 18px;
  height: 2px;
  margin-left: 4px;
  background-color: white;

}
.navbar-toggler span + span{
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}
.navbar-toggler span + span + span{
  width: 18px;
  margin-left: 4px;
}
/* order button */
.btn{
  color: white;
  background-color: #f84c3e;
  border-radius: none;
}

/* carousel slider */
.carousel{
  background-color: black;
}
.carousel-item{
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.carousel-caption{
  position: absolute;
  right: 0%;
  bottom: 20px;
  left: 0%;
  z-index: 0;
  padding-top: 20px;
  padding-bottom: 200px;
  color: #fff;
  text-align: center;
}
.carousel-caption h5{
  font-family: 'Dancing Script';
  font-size: 2.5rem;
}
/* menu */
.my-4{
  text-align: center;
  max-height: 10%
}
.my-4 img{
  border: 1px solid black;
  height: 70%;
}
h4{
  font-family: 'Dancing Script';
  font-weight: 600;
}
/* section */
#order{
  background-image: url("../images/bg-img.jpg");
  color: white;
}
.crust,#toppings{
  padding-top: 5%;
}

.col-md-7{
  text-align: center;
}
/* #selectedOrders{
  display: none;
} */

/* contact-us */
#contact-us{
  background-color: black;
  width: 100%;
  color: white;
  padding: 1%;
}
.col-md-7,.col-md-5{
  /* text-align: center; */
   border: #f84c3e 1px solid;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 70vh;
  width: 100%;
  
}
#gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 70vh;
  width: 100%;
 
}
#social-links{
  padding: 2%;
}