@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


a:hover{
  color: #f84c3e !important;
}
.navbar{
  padding: 0%;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: 700;
  background: rgb(0, 0, 0) !important;
}
.navbar-brand{
  font-family: 'Dancing Script';
  font-size: 3rem;
}
.navar-toggler{
  border: none;
  padding: 10px 6px;
  outline: none;
}
.navbar-toggler span{
  display: flex;
  width: 18px;
  height: 2px;
  margin-left: 4px;
  background-color: white;

}
.navbar-toggler span + span{
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}
.navbar-toggler span + span + span{
  width: 18px;
  margin-left: 4px;
}
/* order button */
.btn{
  color: white;
  background-color: #f84c3e;
  border-radius: none;
}
